header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: center;
}

button{
    width: 80px;
    border-radius: 10% 1px solid;
    cursor: pointer;    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0 0 10px black;
    background: rgb(175, 175, 175);
    color:rgb(251, 255, 0);
}

.turnOnOff:hover{
    background: rgba(8, 252, 0, 0.507);
}
